.button{
    -fx-background-color: #f1c40f;
    -fx-text-fill: white;
    -fx-border-color: #d35400;
    -fx-border-radius: 5;
    /*-fx-font-family: MGx;*/
    -fx-background-radius: 5;
    /*-fx-padding: 50, 100, 150, 60; arriba, abajo, izquierda, derecha;*/

}

.button:hover{
    -fx-background-color: #4a7cc9;
}

#fontButton{

    -fx-font: bold italic 20pt;

}